<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" media="screen" />
    </head>

    <body>
        <h3>Grade Table for Assignment {{ assign.assigName }} (due at {{ assign.dueDate }})</h3>
        <table>
            <tr>
                <th>NetID</th><th>Submission DateTime</th><th>Late Days Used</th>
                <th>Grade Notes</th><th>Deduction</th><th>Score</th><th>Email Sent out?</th>
            </tr>
            {% for turnin in turnins %}
                <tr>
                    <td>{{ turnin.netID_id }}</td>
                    <td>{{ turnin.submitDateTime }}</td>
                    <td>{{ turnin.latedays }}</td>
                    <td><a href="{% url 'grading:deduction_details' assign.assigName turnin.netID_id %}">Details</a></td>
                    <td>{{ turnin.deduction }}</td>
                    <td>{{ turnin.score }}</td>
                    <td>{{ turnin.emailSent }}</td>
                    <td><a href="{% url 'grading:grade' assign.assigName turnin.netID_id %}">Grade/Regrade</a></td>
                    {% if turnin.emailSent %}
                        <td><a href="{% url 'grading:send_email' assign.assigName turnin.netID_id %}">Re send Email</a></td>
                    {% else %}
                        <td><a href="{% url 'grading:send_email' assign.assigName turnin.netID_id %}">Send Email</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'grading:compute_grades' assign.assigName %}">Compute Grades</a><br>
        <a href="{% url 'grading:send_email_all' assign.assigName %}">Send Email to ALL</a>
        <br>
        <h4>Total submissions: {{ num_turnins }}</h4>
        <h4>Number of ungraded submissions: {{ num_ungraded }}</h4>
    </body>
</html>

